    <footer class="footer"><p> 2025 &copy; Todo App</p></footer>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.2.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@7.2.0/dist/ionicons/ionicons.js"></script>
</body>
</html>